ion-list{
}

ion-col{
  min-width: 300px;
  max-width: 60%;
  margin: auto;
  padding: 18em 0 0 0;
}

#registrar{
  margin: 1rem 5rem;
  max-width: 40%;
}

#contactar{
  padding: 12em 1em 1em 1em;

}
